{% extends "base.html" %}

{% block content %}

<div class="row">
<div class="col-md-6">
{% if form.errors %}
<p>Your username and password didn't match. Please try again.</p>
{% endif %}

<form method="POST" action="{% url 'account_login' %}">
{% csrf_token %}
<div class="form-group">
    <label for="id_login">Username or email</label>
    {{ form.login.errors}}
    <input id="id_login" class="form-control" maxlength="254" name="login" type="text" />
</div>
<div class="form-group">
    <label for="id_password">Password</label>
    {{ form.password.errors }}
    <input id="id_password" class="form-control" name="password" type="password" />
</div>
<div class="checkbox">
    {{ form.remember.help_text }}
    <label for="id_remember">
        <input type="checkbox" name="remember" id="id_remember">Remember me
    </label>
    {{ form.remember.errors }}
</div>
<p class="small">By logging in I agree that I will abide by the <a href="/policies">Terms of Service</a> and have read the <a href="/privacy/">Privacy Policy</a>.</p>
<input class="btn btn-success" type="submit" value="login" />
{% if redirect_field_value %}
<input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
{% endif %}
<div>
    <a href="/accounts/password/reset/">Forgot password?</a>
</div>
</form>
</div>
</div>
{% endblock %}