{% extends "base.html" %}

{% block content %}

<div class="row">
{% if form.errors %}
<p>Your username and password didn't match. Please try again.</p>
{% endif %}

<form method="POST" action="{% url 'account_login' %}">
{% csrf_token %}
<div class="form-group">
    <label for="id_login">Username or email</label>
    {{ form.login.errors}}
    <input id="id_login" class="form-control" maxlength="254" name="login" type="text" />
</div>
<div class="form-group">
    <label for="id_password">Password</label>
    {{ form.password.errors }}
    <input id="id_password" class="form-control" name="password" type="password" />
</div>
<input type="submit" value="login" />
<input type="hidden" name="next" value="{{ next }}" />
<div>
    <a href="/password_reset/">Forgot password?</a>
</div>
</form>
</div>
{% endblock %}