{% extends "base.html" %}
{% load i18n %}

{% block css %}
<script src="https://use.fontawesome.com/bd76377166.js"></script>
{% endblock %}

{% block content %}
<div class="row">
<div class="col-md-6">
<a class="btn btn-lg btn-primary" href="{% url "google_login" %}">
    <span class="fa fa-google"></span> Login with Google
</a>
</div>
<div class="col-md-6">
<h2>...or sign up with email</h2>
<form id="signup_form" method="post" action="/signup/">
    {% csrf_token %}
    {% if form.non_field_errors %}
    <ul>
        {% for error in form.non_field_errors %}
        <li>{{ error }}</li>
        {% endfor %}
    </ul>
    {% endif %}
    <div class="form-group">
        <label for="id_username">Username</label>
        {{ form.username.help_text }}
        {{ form.username.errors }}
        <input class="form-control" autofocus="autofocus" id="id_username" maxlength="30" name="username" type="text" {% if form.username.value %}value="{{ form.username.value }}"{% endif %}/>
    </div>
    <div class="form-group">
        <label for="id_email">Email</label>
        {{ form.email.help_text }}
        {{ form.email.errors }}
        <input class="form-control" autofocus="autofocus" id="id_email" maxlength="30" name="email" type="email" {% if form.username.email %}value="{{ form.username.email }}"{% endif %}/>
    </div>
    <div class="form-group">
        <label for="id_password1">Password</label>
        {{ form.password1.help_text }}
        {{ form.password1.errors }}
        <input class="form-control" autofocus="autofocus" id="id_password1" maxlength="30" name="password1" type="password" />
    </div>
    <div class="form-group">
        <label for="id_password2">Password (again)</label>
        {{ form.password2.help_text }}
        {{ form.password2.errors }}
        <input class="form-control" autofocus="autofocus" id="id_password2" maxlength="30" name="password2" type="password" />
    </div>
    {{ form.captcha.errors }}
    {{ form.captcha }}
    <p class="small">By submitting this form I agree that I will abide by the <a href="/policies">Terms of Service</a> and have read the <a href="/privacy/">Privacy Policy</a>.</p>
    <button class="btn btn-success" type="submit">Sign Up &raquo;</button>
</form>
<p class="small">{% blocktrans %}Already have an account? Then please <a href="{{ login_url }}">sign in</a>.{% endblocktrans %}</p>
</div>
</div>
{% endblock %}

{% block js %}
<script src='https://www.google.com/recaptcha/api.js'></script>
{% endblock %}
