{% extends "base.html" %}

{% load tz %}
{% load gravatar %}

{% block content %}
<h1>{% gravatar contact.email 60 %}{{ contact }}</h1>
<div class="row">
    <div class="col-md-12">
    {% for tag in contact.tags.all %}
        <a href="{% url "contacts-tagged" pk=tag.id %}"><span class="label label-default">{{ tag }}</span></a>
    {% endfor %}
    </div>
</div>
<div class="row">
<div class="col-md-6">Email: <a href="mailto:{{ contact.email }}">{{contact.email}}</a></div>
<div class="col-md-6">Twitter: @<a href="http://twitter.com/{{ contact.twitter }}">{{ contact.twitter }}</a></div>
<div class="col-md-6">Tumblr: {{ contact.tumblr }}</div>
<div class="col-md-6">Website: <a href="{{ contact.website }}">{{ contact.website }}</a></div>
<div class="col-md-6">Portfolio: <a href="{{ contact.portfolio }}">{{ contact.portfolio }}</a></div>
<div class="col-md-6">Cell Phone: {{ contact.cell_phone }}</div>
<div class="col-md-6">Home Phone: {{ contact.home_phone }}</div>
<div class="col-md-6">Company: {{ contact.company }}</div>
<div class="col-md-6">Notes: {{ contact.notes }}</div>
</div>
<a href="{% url "contacts-edit" pk=contact.id %}" class="btn btn-primary">Edit</a>

<h3>Add Log:</h3>
<form action="{{ action }}" method="POST">
    {% csrf_token %}
    {% if form.non_field_errors %}
    <ul>
        {% for error in form.non_field_errors %}
        <li>{{ error }}</li>
        {% endfor %}
    </ul>
    {% endif %}
    <div class="row">
    {% for field in form %}
        <div id="{{ field.auto_id }}_container" class="col-md-3">
            {{ field.help_text }}
            <div>
                {{ field.label_tag }} {{ field }}
            </div>
            <div id="{{ field.auto_id }}_errors">
                {{ field.errors }}
            </div>
        </div>
    {% endfor %}
    </div>
    <input id="add_log" type="submit" value="Add log">
</form>

<h3>Logs</h3>
<div class="table-responsive">
    <table class="table">
        <thead>
            <tr>
                <th>Time</th>
                <th>Logged By</th>
                <th>Kind</th>
                <th>Link</th>
                <th>Notes</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            {% for log in logs %}
            <tr>
                <td>
                    {% if log.time %}
                    {{log.time | localtime}} (logged {{log.created | localtime }})
                    {% else %}
                    {{ log.created | localtime }}
                    {% endif %}
                </td>
                <td>{{ log.logged_by }}</td>
                <td>{{ log.kind }}</td>
                <td><a href="{{log.link}}">{{log.link}}</a></td>
                <td>{{log.notes}}</td>
                <td>
                    <a href="{% url "log-edit" pk=log.id %}">Edit</a>
                    <a href="{% url "log-delete" pk=log.id %}">Delete</a>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>

{% endblock %}