{% extends "base.html" %}

{% load gravatar %}

{% block content %}
{% if tag %}
<h1>"{{ tag.tag }}" Contacts</h1>
{% else %}
<h1>Contacts</h1>
{% endif %}
<ul>
    {% for contact in object_list %}
    <li>
        {% gravatar contact.email 30 %}
        <a href="{{ contact.get_absolute_url }}">{{ contact }}</a>
        (<a href="{% url "contacts-edit" pk=contact.id %}">edit</a>)
    </li>
    {% endfor %}
</ul>

<a href="{% url "contacts-new" %}" class="btn btn-success">add contact</a>
{% endblock %}