{% extends "base.html" %}

{% load tz %}
{% load gravatar %}
{% load gargoyle_tags %}

{% block content %}
<h1>
    {% gravatar contact.preferred_email 60 %} {{ contact.name }}
    <div class="btn-group" role="group">
        <a href="{% url "contacts-edit" pk=contact.pk %}" class="btn btn-default" {% ifswitch read_only_mode %}disabled="disabled"{% endifswitch %}><span class="glyphicon glyphicon-pencil"></span> Edit</a>
        {% if not SANDSTORM %}
        <a href="javascript:void(0)" class="btn btn-default js-add-trello"><span class="glyphicon glyphicon-list-alt"></span> Add Trello Reminder</a>
        {% endif %}
    </div>
</h1>
<div class="row">
    <div class="col-md-12">
    {% for tag in contact.tags.all %}
        <a href="{% url "contacts-tagged" pk=tag.id %}"><span class="label label-default" style="background-color:{{ tag.corrected_color}};">{{ tag }}</span></a>
    {% endfor %}
    </div>
</div>
{% if contact.emails %}
<div class="row">
    {% for field in contact.emails %}
    <div class="col-md-6">
        <span class="text-muted">{{ field.label }}:</span> <a href="mailto:{{ field.value }}" target="_blank">{{ field.value }}</a>
    </div>
    {% endfor %}
</div>
<hr />
{% endif %}
{% if contact.twitters %}
<div class="row">
    {% for field in contact.twitters %}
    <div class="col-md-6">
        <span class="text-muted">{{ field.label }}:</span> <a href="http://twitter.com/{{ field.value }}" target="_blank">@{{ field.value }}</a>
    </div>
    {% endfor %}
</div>
<hr />
{% endif %}
{% if contact.phones %}
<div class="row">
    {% for field in contact.phones %}
    <div class="col-md-6">
        <span class="text-muted">{{ field.label }}:</span> {{ field.value }}
    </div>
    {% endfor %}
</div>
<hr />
{% endif %}
{% if contact.urls %}
<div class="row">
    {% for field in contact.urls %}
    <div class="col-md-6">
        <span class="text-muted">{{ field.label }}:</span> <a href="{{ field.value }}" target="_blank">{{ field.value }}</a>
    </div>
    {% endfor %}
</div>
<hr />
{% endif %}
{% if contact.generics %}
<div class="row">
    {% for field in contact.generics %}
    <div class="col-md-6">
        <span class="text-muted">{{ field.label }}:</span> {{ field.value }}
    </div>
    {% endfor %}
</div>
<hr />
{% endif %}
{% if contact.addresses %}
<div class="row">
    {% for field in contact.addresses %}
    <div class="col-md-6">
        <span class="text-muted">{{ field.label }}:</span> {{ field.value }}
    </div>
    {% endfor %}
</div>
{% endif %}
{% if contact.notes %}
<div class="row">
    <div class="col-md-6">
        <span class="text-muted">Notes:</span> {{ contact.notes }}
    </div>
</div>
<hr />
{% endif %}
{% ifnotswitch read_only_mode %}
<h3>Add Log:</h3>
<form action="{{ action }}" method="POST">
    {% csrf_token %}
    {% if form.non_field_errors %}
    <ul>
        {% for error in form.non_field_errors %}
        <li>{{ error }}</li>
        {% endfor %}
    </ul>
    {% endif %}
    <div class="row">
        <div id="id_kind_container" class="col-md-3">
            <div class="form-group">
                <label for="id_kind">Kind:</label>
                <select class="form-control" id="id_kind" name="kind">
                    <option value="" selected="selected">---------</option>
                    <option value="twitter">Twitter</option>
                    <option value="facebook">Facebook</option>
                    <option value="email">Email</option>
                    <option value="in person">In Person</option>
                    <option value="website">Website</option>
                    <option value="other">Other</option>
                    </select>
            </div>
            <div id="id_kind_errors">
                {{ form.kind.errors }}
            </div>
        </div>
        <div id="id_date_container" class="col-md-3">
            <label for="id_time">Date</label>
            {{ form.time.errors }}
            <input class="form-control" type="date" name="time" value="{% now "Y-m-d" %}" id="id_time">
        </div>
        <div id="id_notes_container" class="col-md-3">
            <div class="form-group">
                <label for="id_notes">Notes:</label>
                <textarea class="form-control" cols="40" id="id_notes" name="notes" rows="1"></textarea>
            </div>
            <div id="id_notes_errors">
                {{ form.kind.errors }}
            </div>
        </div>
        <div class="col-md-3">
            <button class="btn btn-default" id="add_log" type="submit">Add log</button>
        </div>
    </div>
</form>
{% endifnotswitch %}

{% if logs %}
<h3>Logs</h3>
<ul class="list-group">
    {% for log in logs %}
    <ul class="list-group-item">
        {% if log.kind != 'edit' %}
        <a href="{% url "log-edit" pk=log.id %}"><span class="glyphicon glyphicon-pencil"></span></a>
        <a href="{% url "log-delete" pk=log.id %}"><span class="glyphicon glyphicon-trash"></span></a>
        {% else %}
        <span class="text-faint glyphicon glyphicon-pencil"></span>
        <span class="text-faint glyphicon glyphicon-trash"></span>
        {% endif %}
        {% include "log_line.html" %}
    </ul>
    {% endfor %}
</ul>
{% endif %}
{% endblock %}
{% block js %}
<script src="https://api.trello.com/1/client.js?key=41bbf97505510b509337638635476574"></script>
<script type="text/javascript">
var empty = function(){};
var addOnceAuthed = function() {
    Trello.addCard({
        url: "http://{{ request.site.domain }}{{ contact.get_absolute_url }}",
        name: "Reminder to contact {{ contact.name }}"
    });
};
jQuery('.js-add-trello').on('click', function(){
    Trello.authorize({
      type: "popup",
      name: "Contact Otter",
      persist: true,
      scope: {
        read: true,
        write: true },
      expiration: "never",
      success: addOnceAuthed,
      error: empty
    });
    jQuery(this).blur(); 
});
</script>
{% endblock %}
