{% extends "base.html" %}

{% load gravatar %}

{% block content %}
<div class="row">
    <div class="col-md-6">
        {% if tag %}
        <h1>"{{ tag.tag }}" Contacts</h1>
        {% else %}
        <h1>Contacts</h1>
        {% endif %}
        <ul>
            {% for contact in object_list %}
            <li>
                <a href="{{ contact.get_absolute_url }}">{% gravatar contact.email 30 %} {{ contact }}</a>
                (<a href="{% url "contacts-edit" pk=contact.id %}">edit</a>)
            </li>
            {% endfor %}
        </ul>
        <a href="{% url "contacts-new" %}" class="btn btn-success">add contact</a>
    </div>
    <div class="col-md-6">
        <h1>Tags</h1>
        <a href="{% url "tags-new" %}" class="btn btn-success">add tag</a>
        <ul>
            {% for tag in tags %}
            <li>
                <a href="{% url "contacts-tagged" pk=tag.id %}"><span class="label label-default">{{ tag }}</span></a>
            </li>
            {% endfor %}
        </ul>
    </div>
</div>
{% endblock %}