{% load gravatar %}
{% load tz %}
{% load humanize %}
{% load gargoyle_tags %}
<tr>
    <td>
        <label for="id_contact_{{ contact.id }}">
            <input id="id_contact_{{ contact.id }}" name="contact_{{ contact.id }}" class="input" type="checkbox">
        </label>
    </td>
    <td>
        <a href="{{ contact.get_absolute_url }}">
            <img class="img-circle"src="{% gravatar_url contact.preferred_email 25 %}">
            {{ contact.name }}
        </a>
    </td>
    <td class="hidden-sm hidden-xs">
        {% for tag in contact.tags.all|slice:":4" %}
        {% if forloop.counter0 < 3 %}
        <small><a href="{% url "contacts-tagged" pk=tag.id %}"><span class="label label-default tag-label" style="background-color:{{ tag.corrected_color}};">{{ tag }}</span></a></small>
        {% else %}
        <a href="{{ contact.get_absolute_url }}">...</a>
        {% endif %}
        {% endfor %}
    </td>
    <td>
        <small>{% if contact.last_contact %}<span class="glyphicon glyphicon-time"></span> {{ contact.last_contact | localtime | naturaltime }}{% endif %}</small>
    </td>
    <td>
        <div class="text-right">
        {% ifnotswitch read_only_mode %}<a class="btn btn-default btn-sm" href="{% url "contacts-edit" pk=contact.pk %}"><span class="glyphicon glyphicon-pencil"></span> Edit</a>{% endifnotswitch %}
        </div>
    </td>
</tr>