{% load gravatar %}
{% load tz %}
{% load humanize %}
{% load gargoyle_tags %}

<div class="contact media">
    <div>
        <div class="checkbox pull-left contact-select">
            {% if editable %}
            <label for="id_contact_{{ contact.id }}" class="media-object">
                <input id="id_contact_{{ contact.id }}" name="contact_{{ contact.id }}" class="input-lg" type="checkbox">
            </label>
            {% endif %}
        </div>
        <div class="media media-body">
            <a class="pull-left" href="{{ contact.get_absolute_url }}">
                <img width="50" height="50" class="media-object img-circle" src="{% if contact.photo_url %}{{ contact.photo_url }}{% else %}{% gravatar_url contact.preferred_email 50 %}{% endif %}">
            </a>
            <div class="media-body">
                <div class="contact-list-contact-info">
                    <a href="{{ contact.get_absolute_url }}">{{ contact }}</a>
                    {% for tag in contact.tags.all %}
                    <a href="{% url "contacts-tagged" pk=tag.id book=book.id %}"><span class="label label-default" style="background-color:{{ tag.corrected_color}};">{{ tag }}</span></a>
                    {% endfor %}
                    {% ifnotswitch read_only_mode %}(<a href="{% url "contacts-edit" pk=contact.id book=book.id %}">edit</a>){% endifnotswitch %}
                </div>
                <div class="contact-list-interaction-info">
                    <span class="text-faint">{% if contact.last_contact %}Last contacted {{ contact.last_contact | localtime | naturaltime }}{% endif %}</span>
                </div>
            </div>
        </div>
    </div>
</div>