{% extends "base.html" %}

{% block content %}
<ol class="breadcrumb">
    {% include "breadcrumbs_common.html" %}
    <li><a href="{{ book.get_absolute_url }}">Contacts</a>
    <li><a href="{{ logentry.contact.get_absolute_url }}">{{ logentry.contact.name }}</a></li>
    <li class="active">Delete Log</li>
</ol>
<h1>Delete Log</h1>
<p>Are you sure you want to delete the following log?</p>
<ul class="list-group">
    <li class="list-group-item">
        {% with log=logentry %}{% include "log_line.html" %}{% endwith %}
    </li>
</ul>
<form action="{% url "log-delete" pk=logentry.id book=book.id %}" method="POST">
    {% csrf_token %}
    <input class="btn btn-danger" type="submit" value="Yes, delete." />
    <a class="btn btn-primary" href="{% url "contacts-view" pk=logentry.contact.id book=book.id %}">No, cancel.</a>
</form>
{% endblock %}