{% extends "base.html" %}

{% block content %}
<ol class="breadcrumb">
    {% include "breadcrumbs_common.html" %}
    <li class="active">Delete</li>
</ol>
<h1>Delete Tag</h1>
<p>Are you sure you want to delete {{ tag }}?</p>
<form action="{% url "tags-delete" pk=tag.id book=book.id %}" method="POST">
    {% csrf_token %}
    <input class="btn btn-danger" type="submit" value="Yes, delete." />
    <a class="btn btn-primary" href="{% url "contacts-list" book=book.id %}">No, cancel.</a>
</form>
{% endblock %}