{% extends "base.html" %}

{% load staticfiles %}

{% block content %}

{% if contact.id %}
<h2>Edit Contact</h2>
{% else %}
<h2>Add Contact</h2>
{% endif %}

<div class="well well-sm">
<input class="btn btn-success" type="submit" value="Save" form="contactForm">
{% if contact.id %}
<a href="{% url "contacts-delete" pk=contact.id %}" class="btn btn-danger">Delete</a>
<a href="{% url "contacts-view" pk=contact.id %}" class="btn btn-primary">back to contact</a>
{% endif %}
<a href="{% url "contacts-list" %}" class="btn btn-default">back to list</a>
</div>
<form class="form-inline" action="{{ action }}" method="POST" id="contactForm">
    {% csrf_token %}
    <input type="hidden" name="deleted_fields" id="deleted_fields" value="" />
    {% if form.non_field_errors %}
    {% for error in form.non_field_errors %}
        <div class="alert alert-danger">{{ error }}</div>
    {% endfor %}
    {% endif %}
    <div class="row">
        <div id="id_name_container" class="col-md-12">
            <h4>Name</h4>
            <div class="form-group">
                <label class="sr-only" for="id_name">Name</label>
                <input class="form-control" id="id_name" maxlength="255" name="name" type="text" placeholder="Name"{% if contact.name %}value="{{ contact.name }}"{% endif %}/>
            </div>
            <div id="id_name_errors">
                {{ form.name.errors }}
            </div>
            <label for="id_should_surface">
                <small>Should send contact reminders?</small>
                {{ form.should_surface }}
            </label>
            <p><small>(Contact reminders need to be enabled in <a href="/u/">your settings</a>)</small></p>
        </div>
    </div>
    <hr class="hidden-xs hidden-sm">
    <div class="row">
    <div class="col-md-6" id="js-email-fields">
        <h4>Email <a href="javascript:void(0);" class="js-add-email btn btn-xs btn-info">Add</a></h4> 
        {% for field in contact.emails %}
            {% with field_id=field.id field_kind=field.kind field_label=field.label field_value=field.value field_pref=field.preferred show_preferred=True form_field_type="email" %}
                {% include "edit_contact_form_field.html" %}
            {% endwith %}
        {% endfor %}
    </div>
    <div class="col-md-6" id="js-twitter-fields">
        <h4>Twitter <a href="javascript:void(0);" class="js-add-twitter btn btn-xs btn-info">Add</a></h4>
        {% for field in contact.twitters %}
            {% with field_id=field.id field_kind=field.kind field_label=field.label field_value=field.value field_pref=field.preferred show_preferred=True form_field_type="text" show_twitter=True %}
                {% include "edit_contact_form_field.html" %}
            {% endwith %}
        {% endfor %}
    </div>
    </div>
    <hr class="hidden-xs hidden-sm">
    <div class="row">
    <div class="col-md-6" id="js-url-fields">
        <h4>Links <a href="javascript:void(0);" class="js-add-url btn btn-xs btn-info">Add</a></h4>
        {% for field in contact.urls %}
            {% with field_id=field.id field_kind=field.kind field_label=field.label field_value=field.value field_pref=field.preferred form_field_type="url" %}
                {% include "edit_contact_form_field.html" %}
            {% endwith %}
        {% endfor %}
    </div>
    <div class="col-md-6" id="js-phone-fields">
        <h4>Phone Numbers <a href="javascript:void(0);" class="js-add-phone btn btn-xs btn-info">Add</a></h4>
        {% for field in contact.phones %}
            {% with field_id=field.id field_kind=field.kind field_label=field.label field_value=field.value field_pref=field.preferred show_preferred=True form_field_type="tel" %}
                {% include "edit_contact_form_field.html" %}
            {% endwith %}
        {% endfor %}
    </div>
    </div>
    <hr class="hidden-xs hidden-sm">
    <div class="row">
    <div class="col-md-6" id="js-text-fields">
        <h4>Other <a href="javascript:void(0);" class="js-add-text btn btn-xs btn-info">Add</a></h4>
        {% for field in contact.generics %}
            {% with field_id=field.id field_kind=field.kind field_label=field.label field_value=field.value field_pref=field.preferred form_field_type="text" %}
                {% include "edit_contact_form_field.html" %}
            {% endwith %}
        {% endfor %}
    </div>
    <div class="col-md-6" id="js-date-fields">
        <h4>Dates <a href="javascript:void(0);" class="js-add-date btn btn-xs btn-info">Add</a></h4>
        {% for field in contact.dates %}
            {% with field_id=field.id field_kind=field.kind field_label=field.label field_value=field.value field_pref=field.preferred form_field_type="date" %}
                {% include "edit_contact_form_field.html" %}
            {% endwith %}
        {% endfor %}
    </div>
    </div>
    <hr class="hidden-xs hidden-sm">
    <div class="row" id="js-address-fields">
        <div class="col-md-12">
        <h4>Addresses <a href="javascript:void(0);" class="js-add-address btn btn-xs btn-info">Add</a></h4>
        </div>
        {% for field in contact.addresses %}
            {% with field_id=field.id field_kind=field.kind field_label=field.label field_value=field.value field_pref=field.preferred show_preferred=True %}
                {% include "edit_contact_form_field_textarea.html" %}
            {% endwith %}
        {% endfor %}
    </div>
    <hr class="hidden-xs hidden-sm">
    <div class="row">
        <div id="id_notes_container" class="col-md-6">
            <h4>Notes</h4>
            <div>
                <label class="sr-only" for="id_notes">Notes:</label>
                <textarea class="form-control" cols="40" id="id_notes" name="notes" rows="3">{% if contact.notes %}{{ contact.notes }}{% endif %}</textarea>
            </div>
            <div id="id_notes_errors">
                {{ form.notes.errors }}
            </div>
        </div>
        <div id="id_tags_container" class="col-md-6">
            <h4>Tags</h4>
            <div>
                <label class="sr-only" for="id_tags_0">Tags:</label>
                {{ form.tags }}
            </div>
            <div id="id_tags_errors">
                {{ form.tags.errors }}
            </div>
        </div>
    </div>
</form>

<div class="well well-sm">
<input class="btn btn-success" type="submit" value="Save" form="contactForm">
{% if contact.id %}
<a href="{% url "contacts-delete" pk=contact.id %}" class="btn btn-danger">Delete</a>
<a href="{% url "contacts-view" pk=contact.id %}" class="btn btn-primary">back to contact</a>
{% endif %}
<a href="{% url "contacts-list" %}" class="btn btn-default">back to list</a>
</div>

{% endblock %}

{% block js %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/handlebars.js/4.0.5/handlebars.min.js"></script>
<script src="{% static 'js/contact_edit.js' %}?v=1"></script>
<script id="js-blank-email-field" type="text/x-handlebars-template">
    {% with field_id="new{{newItemNumber}}" field_kind="email" field_label="Email label" field_value="Email address" show_preferred=True form_field_type="email" is_new=True %}
        {% include "edit_contact_form_field.html" %}
    {% endwith %}
</script>
<script id="js-blank-twitter-field" type="text/x-handlebars-template">
    {% with field_id="new{{newItemNumber}}" field_kind="twitter" field_label="Twitter label" field_value="Twitter" show_preferred=True form_field_type="text" is_new=True show_twitter=True %}
        {% include "edit_contact_form_field.html" %}
    {% endwith %}
</script>
<script id="js-blank-url-field" type="text/x-handlebars-template">
    {% with field_id="new{{newItemNumber}}" field_kind="url" field_label="Link label" field_value="Link URL" form_field_type="url" is_new=True %}
        {% include "edit_contact_form_field.html" %}
    {% endwith %}
</script>
<script id="js-blank-phone-field" type="text/x-handlebars-template">
    {% with field_id="new{{newItemNumber}}" field_kind="phone" field_label="Phone number label" field_value="Phone number" show_preferred=True form_field_type="tel" is_new=True %}
        {% include "edit_contact_form_field.html" %}
    {% endwith %}
</script>
<script id="js-blank-text-field" type="text/x-handlebars-template">
    {% with field_id="new{{newItemNumber}}" field_kind="text" field_label="Field label" field_value="Field value" form_field_type="text" is_new=True %}
        {% include "edit_contact_form_field.html" %}
    {% endwith %}
</script>
<script id="js-blank-date-field" type="text/x-handlebars-template">
    {% with field_id="new{{newItemNumber}}" field_kind="date" field_label="Date label" form_field_type="date" is_new=True %}
        {% include "edit_contact_form_field.html" %}
    {% endwith %}
</script>
<script id="js-blank-address-field" type="text/x-handlebars-template">
    {% with field_id="new{{newItemNumber}}" field_kind="address" field_label="Address name" show_preferred=True is_new=True %}
        {% include "edit_contact_form_field_textarea.html" %}
    {% endwith %}
</script>
{% endblock %}
