{% extends "base.html" %}

{% block content %}

{% if contact.id %}
<h1>Edit Contact</h1>
{% else %}
<h1>Add Contact</h1>
{% endif %}

<div class="well well-sm">
<input class="btn btn-success" type="submit" value="Save" form="contactForm">
{% if contact.id %}
<a href="{% url "contacts-delete" pk=contact.id %}" class="btn btn-danger">Delete</a>
<a href="{% url "contacts-view" pk=contact.id %}" class="btn btn-primary">back to contact</a>
{% endif %}
<a href="{% url "contacts-list" %}" class="btn btn-default">back to list</a>
</div>
<form action="{{ action }}" method="POST" id="contactForm">
    {% csrf_token %}
    {% if form.non_field_errors %}
    <ul>
        {% for error in form.non_field_errors %}
        <li>{{ error }}</li>
        {% endfor %}
    </ul>
    {% endif %}
    <div class="row">
    {% for field in form %}
        <div id="{{ field.auto_id }}_container" class="col-md-6">
            {{ field.help_text }}
            <div>
                {{ field.label_tag }} {{ field }}
            </div>
            <div id="{{ field.auto_id }}_errors">
                {{ field.errors }}
            </div>
            {% if field.label == "Tags" %}
                <a href="{% url "tags-new" %}" class="btn btn-default">create tag</a>
            {% endif %}
        </div>
    {% endfor %}
    </div>
    <div class="md-col-6"></div>
</form>

<div class="well well-sm">
<input class="btn btn-success" type="submit" value="Save">
{% if contact.id %}
<a href="{% url "contacts-delete" pk=contact.id %}" class="btn btn-danger">Delete</a>
<a href="{% url "contacts-view" pk=contact.id %}" class="btn btn-primary">back to contact</a>
{% endif %}
<a href="{% url "contacts-list" %}" class="btn btn-default">back to list</a>
</div>
{% endblock %}