{% extends "base.html" %}

{% block content %}

{% if logentry.id %}
<ol class="breadcrumb">
    {% include "breadcrumbs_common.html" %}
    <li><a href="{{ book.get_absolute_url }}">Contacts</a>
    <li><a href="{{ logentry.contact.get_absolute_url }}">{{ logentry.contact.name }}</a></li>
    <li class="active">Edit Log</li>
</ol>
{% else %}
<ol class="breadcrumb">
    {% include "breadcrumbs_common.html" %}
    <li><a href="{{ book.get_absolute_url }}">Contacts</a>
    <li><a href="{{ logentry.contact.get_absolute_url }}">{{ logentry.contact.name }}</a></li>
    <li class="active">Add Log</li>
</ol>
{% endif %}
<ul class="list-group">
    <li class="list-group-item">
        {% with log=logentry %}{% include "log_line.html" %}{% endwith %}
    </li>
</ul>
<form action="{{ action }}" method="POST">
    {% csrf_token %}
    {% if form.non_field_errors %}
    <ul>
        {% for error in form.non_field_errors %}
        <li>{{ error }}</li>
        {% endfor %}
    </ul>
    {% endif %}
    <div class="form-group">
        <label for="id_kind">Kind</label>
        {{ form.kind.errors }}
        {{ form.kind }}
    </div>
    <div class="form-group">
        <label for="id_link">Link</label>
        {{ form.link.errors }}
        <input class="form-control" id="id_link" maxlength="200" name="link" type="url" {% if object.link %}value="{{ object.link }}"{% endif %}/>
    </div>
    <div class="form-group">
        <label for="id_time">Date</label>
        {{ form.time.errors }}
        <input class="form-control" type="date" name="time" value="{{ logentry.display_time | date:"Y-m-d" }}" id="id_time">
    </div>
    <div class="form-group">
        <label for="id_notes">Notes</label>
        {{ form.notes.errors }}
        <textarea class="form-control" cols="40" id="id_notes" name="notes" rows="1">{% if object.notes %}{{ object.notes }}{% endif %}</textarea>
    </div>
    <input class="btn btn-primary" id="add_log" type="submit" value="Save">
</form>
{% endblock %}