{% extends "base.html" %}

{% block content %}
{% if tag.id %}
<h2>Edit Tag</h2>
{% else %}
<h2>Add Tag</h2>
{% endif %}
<form method="POST">
    {% csrf_token %}
    {% if form.non_field_errors %}
    <ul>
        {% for error in form.non_field_errors %}
        <li>{{ error }}</li>
        {% endfor %}
    </ul>
    {% endif %}
    <div class="form-group col-md-6">
        {{ form.tag.help_text}}
        <label for="id_tag">Tag</label>
        {{ form.tag.errors }}
        <input class="form-control" id="id_tag" maxlength="100" name="tag" type="text" {% if tag.tag %}value="{{ tag.tag }}"{% endif %}/>
    </div>
    <div class="form-group col-md-6">
        {{ form.color.help_text}}
        <label for="id_color">Color</label>
        {{ form.color.errors }}
        <input class="form-control" id="id_color" maxlength="20" name="color" type="color" {% if tag.color %}value="{{ tag.color }}"{% else %}value="#123456"{% endif %} placeholder="#123456"/>
    </div>
    <div class="col-md-6">
    <input class="btn btn-default" id="add_tag" type="submit" value="Save" />
    </div>
</form>
{% endblock %}