{% extends "base.html" %}

{% block content %}
<ol class="breadcrumb">
    {% include "breadcrumbs_common.html" %}
    <li><a href="{{ book.get_absolute_url }}">Contacts</a>
    <li class="active">Export Emails</li>
</ol>
{% if contacts %}
{% if tag %}
<h3>Contact Email <a href="{% url "tag_emails_export" book=book.id tag=tag.id %}" class="btn btn-primary">Download CSV for Tag</a></h3>
{% else %}
<h3>Contact Emails <a href="{% url "tag_emails_export" book=book.id %}" class="btn btn-primary">Download CSV</a></h3>
{% endif %}
<ul>
{% for contact in contacts %}
    <li>"{{ contact.name }} &lt;{{ contact.preferred_email }}&gt;"</li>
{% endfor %}
</ul>
{% else %}
<h3>No contacts selected. Maybe you meant to <a href="/">go home?</a></h3>
{% endif %}
{% endblock %}