{% extends "base.html" %}

{% block content %}
<div class="panel panel-default">
  <div class="panel-heading" id="status">Please select a vCard file</div>
  <div class="panel-body"><input type="file" id="file_input"/></div>
</div>

<form method="POST" action="{{ action }}">
    {% csrf_token %}
    <input type="hidden" id="id_upload_url" name="upload_url" value="">
    <input id="submit_button" type="submit" class="btn btn-default" value="Upload" disabled="disabled">
</form>
{% endblock %}

{% block js %}
<script>
(function() {
  document.getElementById("file_input").onchange = function(){
    var files = document.getElementById("file_input").files;
    var file = files[0];
    if(!file){
      return alert("No file selected.");
    }
    getSignedRequest(file);
  };
})();

function getSignedRequest(file){
  var xhr = new XMLHttpRequest();
  xhr.open("GET", "/sign_s3?file_name="+file.name+"&file_type="+file.type);
  xhr.onreadystatechange = function(){
    if(xhr.readyState === 4){
      if(xhr.status === 200){
        document.getElementById('status').innerHTML = "Preparing Upload...";
        var response = JSON.parse(xhr.responseText);
        uploadFile(file, response.data, response.url);
      }
      else{
        alert("Could not get signed URL.");
      }
    }
  };
  xhr.send();
}

function uploadFile(file, s3Data, url){
  var xhr = new XMLHttpRequest();
  xhr.open("POST", s3Data.url);

  var postData = new FormData();
  for(key in s3Data.fields){
    postData.append(key, s3Data.fields[key]);
  }
  postData.append('file', file);

  xhr.onreadystatechange = function() {
    if(xhr.readyState === 4){
      if(xhr.status === 200 || xhr.status === 204){
        document.getElementById("id_upload_url").value = url;
        document.getElementById("status").innerHTML = "Upload ready!";
        document.getElementById("submit_button").disabled = false;
      }
      else{
        alert("Could not upload file.");
      }
   }
  };
  xhr.send(postData);
}
</script>
{% endblock %}