asgi-redis==0.14.0
channels==0.17.2
coverage==4.2
dj-database-url==0.4.1
django-allauth==0.27.0
django-braces==1.9.0
django-floppyforms==1.7.0
django-gravatar2==1.4.0
django-phonenumber-field==1.1.0
django-recaptcha==1.0.5
django-redis==4.4.4
django-rest-swagger==0.3.7
django-sandstorm==0.0.2
django-secure==1.0.1
django-simple-history==1.8.1
Django==1.9.9
djangorestframework==3.3.3
elasticsearch==2.4.0
factory-boy==2.7.0
fake-factory==0.5.7
fakeredis==0.8.1
gargoyle-yplan==1.2.6
git+https://github.com/django-haystack/django-haystack.git#egg=django-haystack
git+https://github.com/mLewisLogic/foursquare.git#egg=foursquare
gunicorn==19.6.0
nexus-yplan==1.4.0
opbeat==3.4.0
psycopg2==2.6.2
python-json-logger==0.0.6
pytz==2016.6.1
tweepy==3.5.0
twilio==5.5.0
Unipath==1.1
Whoosh==2.7.4