Django==1.9.2
django-allauth==0.24.1
dj-database-url==0.3.0
django-gravatar2==1.4.0
djangorestframework==3.3.2
django-braces==1.8.1
gunicorn==19.1.1
psycopg2==2.5.4
python-json-logger==0.0.6
pytz==2014.7
Unipath==1.1
Whoosh==2.7.0
git+https://github.com/django-haystack/django-haystack.git#egg=django-haystack
python-dotenv==0.1.2
django-secure==1.0.1
coverage==4.0.3
factory-boy==2.6.0
fake-factory==0.5.3
django-simple-history==1.7.0
django-sandstorm==0.0.2
opbeat==3.2.1
django-floppyforms==1.6.1
