asgi-redis==1.1.0
asgiref==1.0.0
autobahn==0.17.2
Babel==2.3.4
boto3==1.4.4
channels==1.1.0
click==6.7
contextlib2==0.5.4
coverage==4.3.4
daphne==1.1.0
defusedxml==0.5.0
dj-database-url==0.4.2
django-allauth==0.31.0
django-braces==1.11.0
django-floppyforms==1.7.0
django-gravatar2==1.4.0
django-jsonfield==1.0.1
django-modeldict-yplan==1.5.4
django-phonenumber-field==1.2.0
django-recaptcha==1.1.0
django-redis==4.7.0
django-sandstorm==0.0.2
django-secure==1.0.1
django-simple-history==1.8.2
Django==1.11.4
djangorestframework==3.6.2
elasticsearch==2.4.0
factory-boy==2.8.1
fake-factory==0.7.2
Faker==0.7.10
fakeredis==0.8.2
gargoyle-yplan==1.2.7
git+https://github.com/django-haystack/django-haystack.git#egg=django-haystack
git+https://github.com/mLewisLogic/foursquare.git#egg=foursquare
gunicorn==19.7.0
httplib2==0.10.3
msgpack-python==0.4.8
nexmo==1.5.0
nexus-yplan==1.5.0
oauth2client==4.0.0
oauthlib==2.0.1
opbeat==3.5.2
ordereddict==1.1
phonenumberslite==8.3.3
psycopg2==2.7.1
pyasn1-modules==0.0.8
pyasn1==0.2.3
PySocks==1.5.7
python-dateutil==2.6.0
python-dotenv==0.6.3
python-json-logger==0.0.6
python3-openid==3.1.0
pytz==2016.10
PyYAML==3.12
raven==6.0.0
redis==2.10.5
requests-oauthlib==0.8.0
requests==2.13.0
rsa==3.4.2
six==1.10.0
stripe==1.50.0
tweepy==3.5.0
twilio==5.7.0
Twisted==17.1.0
txaio==2.6.1
Unipath==1.1
uritemplate==3.0.0
urllib3==1.20
vobject==0.9.5
whitenoise==3.3.0
Whoosh==2.7.4
zope.interface==4.3.3
