{% extends "base.html" %}
{% load staticfiles %}

{% block content %}
<div class="row">
    <div class="col-md-8 col-md-offset-2">
        <h1 class="text-center">Your life at your fingertips</h1>
        <p class="text-center lead">ContactOtter helps you keep track of the people you care about, and works with you to keep in touch with the people who matter most.</p>
    </div>
</div>
<div class="row marketing-row">
    <p class="text-center">
        <a href="/signup/" class="btn btn-lg btn-success js-signup">Get Started!</a>
    </p>
</div>
<div class="row marketing-row">
    <div class="col-md-4 col-md-offset-2">
        <img src="{% static "img/marketing/contact_info.png" %}" class="img-responsive img-thumbnail" alt="The contact detail page on ContactOtter"/>
    </div>
    <div class="col-md-4">
        <h3 class="text-center">Organize your life</h3>
        <p>ContactOtter makes it easy to add, tag, and search your contacts. Emails, phone numbers, birthdays and anniversaries - as many as you need, all in one place.</p>
    </div>
</div>
<div class="row marketing-row">
    <div class="col-md-4 col-md-offset-2">
        <h3 class="text-center">Remember the story</h3>
        <p>Each contact keeps its own history of how you know that person. You control what goes into the history, and ContactOtter helps by keeping track of your social networks.</p>
    </div>
    <div class="col-md-4">
        <img src="{% static "img/marketing/contact_logs.png" %}" class="img-responsive img-thumbnail" alt="The logs for a contact on ContactOtter"/>
    </div>
</div>
<div class="row marketing-row">
    <div class="col-md-4 col-md-offset-2">
        <img src="{% static "img/marketing/book_invites.png" %}" class="img-responsive img-thumbnail" alt="The contact detail page on ContactOtter"/>
    </div>
    <div class="col-md-4">
        <h3 class="text-center">Share with your inner circle</h3>
        <p>Contact books can be shared with friends and family. No more trying to resolve who called who, or who last sent a birthday card. It's all in ContactOtter.</p>
    </div>
</div>
<div class="row marketing-row">
    <div class="col-md-8 col-md-offset-2">
        <h2 class="text-center">Money-back guarantee</h2>
        <p class="text-center lead marketing-lead">All ContactOtter plans come with our money-back guarantee: If you're not satisfied, we'll refund your last month and send you all your contact data.</p>
    </div>
</div>
<div class="row marketing-row">
    <p class="text-center">
        <a href="/signup/" class="btn btn-lg btn-success js-signup">Get Started!</a>
    </p>
</div>
{% endblock %}

{% block js %}
<script type="text/javascript">
jQuery(document).ready(function(){
    jQuery('.js-signup').on('click', function(){
        ga('send', 'event', {
            'eventCategory': 'Signup',
            'eventAction': 'benefits-signup-click',
            'useBeacon': true
        });
    });
    jQuery('.js-login').on('click', function(){
        ga('send', 'event', {
            'eventCategory': 'Login',
            'eventAction': 'benefits-login-click',
            'useBeacon': true
        });
    });
});
</script>
{% endblock %}