{% extends "base.html" %}

{% block content %}
<div class="row marketing-row">
    <div class="col-md-8 col-md-offset-2">
        <h1 class="text-center">Grows with you</h1>
        <p class="text-center lead marketing-lead">Get started by choosing the contact Book plan that's best for you.</p>
        <p class="text-center">(You can always change plans or add more Books later.)</p>
    </div>
</div>
<div class="row marketing-row">
    <div class="col-md-4">
        <h3 class="text-center">Basic</h3>
        <ul class="list-group">
            <li class="list-group-item">1 collaborator</li>
            <li class="list-group-item">Unlimited contacts</li>
            <li class="list-group-item">Social account tracking</li>
            <li class="list-group-item">Contact reminders</li>
        </ul>
        <p class="text-center">
            <a href="#" class="btn btn-info">$5/month</a>
            <a href="#" class="btn btn-info">$50/year</a>
        </p>
    </div>
    <div class="col-md-4 bg-info">
        <h3 class="text-center">Family</h3>
        <ul class="list-group">
            <li class="list-group-item">5 collaborators</li>
            <li class="list-group-item">Unlimited contacts</li>
            <li class="list-group-item">Social account tracking</li>
            <li class="list-group-item">Contact reminders</li>
            <li class="list-group-item"><strong>Most popular!</strong></li>
        </ul>
        <p class="text-center">
            <a href="#" class="btn btn-success">$10/month</a>
            <a href="#" class="btn btn-success">$100/year</a>
        </p>
    </div>
    <div class="col-md-4">
        <h3 class="text-center">Team</h3>
        <ul class="list-group">
            <li class="list-group-item">20 collaborators</li>
            <li class="list-group-item">Unlimited contacts</li>
            <li class="list-group-item">Social account tracking</li>
            <li class="list-group-item">Contact reminders</li>
        </ul>
        <p class="text-center">
            <a href="#" class="btn btn-info">$20/month</a>
            <a href="#" class="btn btn-info">$200/year</a>
        </p>
    </div>
</div>
<div class="row">
    <div class="col-md-8 col-md-offset-2">
        <p class="text-center">Need something bigger? <a href="mailto:sales@contactotter.com">Contact our sales team</a></p>
    </div>
</div>
<div class="row marketing-row">
    <div class="col-md-8 col-md-offset-2">
        <h2 class="text-center">Money-back guarantee</h2>
        <p class="text-center lead marketing-lead">All ContactOtter plans come with our money-back guarantee: If you're not satisfied, we'll refund your last two months and send you all your contact data.</p>
    </div>
</div>
{% endblock %}