.contact-list {
    list-style: none;
}

.tag-list {
    list-style: none;
}

.tag-list-tag {
    padding-bottom: 10px;
}

.text-faint {
    color: lightgrey;
}

.contact.panel.panel-default .panel-body {
    padding: 5px;
}

.contact.panel {
    margin-bottom: 5px;
}

.media .media {
    margin-top: 0;
}