.container {
    min-height: 600;
}

.contact-list {
    list-style: none;
}

.tag-list {
    list-style: none;
}

.tag-list-tag {
    padding-bottom: 10px;
}

.text-faint {
    color: lightgrey;
}

.contact .checkbox input[type=checkbox] {
    margin-top: -7px;
}

.dropdown-menu>li>* {
    text-align: left;
    border: none;
    width: 100%;
    display: block;
    padding: 3px 20px;
    clear: both;
    font-weight: 400;
    line-height: 1.42857143;
    color: #333;
    white-space: nowrap;
}

.dropdown-menu>li>input:hover {
    color: #262626;
    text-decoration: none;
    background-color: #f5f5f5;
}

hr {
    margin: 5px 0;
}

.form-group {
    margin-bottom: 10px;
}

.input-group-addon label {
    display: inline;
    font-weight: inherit;
}

.tag-label {
    line-height: 2;
}

.marketing-row {
    padding-bottom: 20px;
}

footer.well {
    margin-bottom: 0;
}

.marketing-lead {
    margin-bottom: 10px;
}

.alameda-hero {
    background-image: url('../img/marketing/alameda_made_background.jpg');
    background-size: 100%;
    background-repeat:no-repeat;
    background-size:cover;
    background-position:center;
    color: white;
}

a.navbar-title {
    padding-left: 5px;
}

form.add-log-form {
    margin-bottom: 0;
}

h4.add-log-header {
    margin-top: 0;
}

#add_log {
    margin-top: 20px;
}

label.tag-input {
    padding: 5px;
    border-radius: 3px;
    border: 1px solid lightgray;
}
