.contact-list {
    list-style: none;
}

.tag-list {
    list-style: none;
}

.tag-list-tag {
    padding-bottom: 10px;
}

.text-faint {
    color: lightgrey;
}

.contact .checkbox input[type=checkbox] {
    margin-top: -7px;
}

.dropdown-menu>li>input {
    text-align: left;
    border: none;
    width: 100%;
    display: block;
    padding: 3px 20px;
    clear: both;
    font-weight: 400;
    line-height: 1.42857143;
    color: #333;
    white-space: nowrap;
}

.dropdown-menu>li>input:hover {
    color: #262626;
    text-decoration: none;
    background-color: #f5f5f5;
}

hr {
    margin: 5px 0;
}

.form-group {
    margin-bottom: 10px;
}

.input-group-addon label {
    display: inline;
    font-weight: inherit;
}
