{% extends "base.html" %}

{% load socialaccount %}

{% block css %}
<script src="https://use.fontawesome.com/bd76377166.js"></script>
{% endblock %}

{% block content %}
<ol class="breadcrumb">
    <li class="active">Settings</li>
</ol>
<form action="{{ action }}" method="POST">
    {% csrf_token %}
    {% if form.non_field_errors %}
    <ul>
        {% for error in form.non_field_errors %}
        <li>{{ error }}</li>
        {% endfor %}
    </ul>
    {% endif %}
    <div class="form-group">
        <label for="id_username">Username</label>
        {{ form.username.help_text }}
        {{ form.username.errors }}
        <input id="id_username" class="form-control" maxlength="30" name="username" type="text" {% if user.username %}value="{{ user.username }}"{% endif %}/>
    </div>
    <div class="form-group">
        {{ form.first_name.help_text }}
        <label for="id_first_name">Display Name</label>
        {{ form.first_name.errors }}
        <input id="id_first_name" class="form-control" maxlength="30" name="first_name" type="text" {% if user.first_name %}value="{{ user.first_name }}"{% endif %}/>
    </div>
    <div class="form-group">
        {{ form.email.help_text }}
        <label for="id_email">Email</label>
        {{ form.email.errors }}
        <input id="id_email" class="form-control" maxlength="30" name="email" type="text" {% if user.email %}value="{{ user.email }}"{% endif %}/>
    </div>
    <div class="form-group">
        <label for="id_phone_number">Phone Number</label>
        Must be in the form "+12345678910"
        {{ form.phone_number.errors }}
        <input id="id_phone_number" class="form-control" maxlength="30" name="phone_number" type="tel" {% if phone_number %}value="{{ phone_number }}"{% endif %}/>
    </div>
    <div class="checkbox">
        {{ form.send_contact_reminders.help_text }}
        <label for="id_send_contact_reminders">
            <input type="checkbox" {% if send_contact_reminders %}checked="checked"{% endif %} name="send_contact_reminders" id="id_send_contact_reminders">Send contact reminders
        </label>
        {{ form.send_contact_reminders.errors }}
    </div>
    <div class="checkbox">
        {{ form.send_birthday_reminders.help_text }}
        <label for="id_send_birthday_reminders">
            <input type="checkbox" {% if send_birthday_reminders %}checked="checked"{% endif %} name="send_birthday_reminders" id="id_send_birthday_reminders">Send birthday reminders
        </label>
        {{ form.send_birthday_reminders.errors }}
    </div>
    <input id="add_log" type="submit" value="Save">
    <hr>
    <h4>Social Settings</h4>
    {% if social_accounts %}

    <div>
        <a class="btn btn-default btn-sm" href="/accounts/social/connections/">Social accounts</a>
    </div>
    {% endif %}
    <div class="checkbox">
        {{ form.check_twitter_dms.help_text }}
        <label for="id_check_twitter_dms">
            <input type="checkbox" {% if check_twitter_dms %}checked="checked"{% endif %} name="check_twitter_dms" id="id_check_twitter_dms">Log DMs on Twitter
        </label>
        {% if not has_twitter %}
        <a class="btn btn-info btn-sm" href="{% provider_login_url "twitter" process="connect" scope=scope auth_params=auth_params next="/u/"" %}"><span class="fa fa-twitter"></span> Connect to Twitter</a>
        {% endif %}
        {{ form.check_twitter_dms.errors }}
    </div>
    <div class="checkbox">
        {{ form.check_foursquare.help_text }}
        <label for="id_check_foursquare">
            <input type="checkbox" {% if check_foursquare %}checked="checked"{% endif %} name="check_foursquare" id="id_check_foursquare">Log Foursquare and Swarm checkins
        </label>
        {% if not has_foursquare %}
        <a class="btn btn-info btn-sm" href="{% provider_login_url "foursquare" process="connect" scope=scope auth_params=auth_params next="/u/"" %}"><span class="fa fa-foursquare"></span> Connect to Foursquare</a>
        {% endif %}
        {{ form.check_foursquare.errors }}
    </div>
    <input id="add_log" type="submit" value="Save">
</form>
{% if tokens %}
<hr>
<div class="row">
    <div class="col-md-12">
        <h4>Tokens</h4>
        <p>These are what you need for connecting with bots and other 3rd-party integrations</p>
        <ul class="list-group">
            {% for token in tokens %}
            <li class="list-group-item">{{ token }}</li>
            {% endfor %}
        </ul>
    </div>
</div>
{% endif %}
{% if book %}
<hr>
<div class="row">
    <div class="col-md-12">
        <h4>Book</h4>
        {% if book.paid_until %}
        <p>Your subscription is paid until {{ book.paid_until|date:"SHORT_DATE_FORMAT" }}</p>
        {% endif %}
        {% if plan %}
        <p>You are on the {{ plan.name }} plan, paying USD${{ plan_cost_string }}</p>
        {% endif %}
    </div>
    {% if invitations %}
    <div class="col-md-12">
        <h5>Invitations</h5>
        <ul class="list-group">
            {% for invitation in invitations %}
            <li class="list-group-item">You invited {{ invitation.email }}{% if invitation.book %} to your contact book {% else %} to ContactOtter{% endif %}</li>
            {% endfor %}
        </ul>
    </div>
    {% endif %}
</div>
{% endif %}
<div class="row">
    <div class="col-md-12">
        <a class="btn btn-default" href="{% url "fullexport" %}">Export all data</a>
    </div>
</div>
{% endblock %}