{% load staticfiles %}
{% load gargoyle_tags %}
{% load raven %}

<html>
    <head>
        <title>{% block title %}{% endblock %}ContactOtter</title>
        <meta name="viewport" content="width=device-width, initial-scale=1 user-scalable=no">
        {% include "favicon.html" %}
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
        <link rel="stylesheet" href="{% static "css/contacts.css" %}">
        {% if not donottrack %}
        {% if not SANDSTORM %}
        <script>
            (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
            (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
            m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
            })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

            ga('create', 'UA-36515305-11', 'auto');
            ga('require', 'linkid');
            ga('send', 'pageview');
        </script>
        {% endif %}
        {% endif %}
        {% block css %}
        {% endblock %}
    </head>

<body>
    <nav class="navbar navbar-default" role="navigation">
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-collapse-1" aria-expanded="false">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="/">
                <img src="{% static "img/contactotter.svg" %}" width="20"> ContactOtter
                </a>
            </div>
            <div class="collapse navbar-collapse" id="navbar-collapse-1">
                {% if user.is_authenticated %}
                <form id="id_ search_form" name="search_form" class="navbar-form navbar-left" method="get" action="{% url "search" %}" role="search" style="margin-top: 0; margin-bottom:0">
                    <div class="form-group">
                        <div class="input-group">
                            <input type="search" class="form-control" name="q" id="id_q" {% if query_raw %}value="{{ query_raw }}"{% endif %}>
                            <span class="input-group-btn">
                                <button type="submit" class="btn btn-default">Search</button>
                            </span>
                        </div>
                    </div>
                    <a href="{% url "contacts-new" %}" class="btn btn-success navbar-btn" {% ifswitch read_only_mode %}disabled="disabled"{% endifswitch %}>Add Contact</a>
                </form>
                <ul class="nav navbar-nav navbar-right">
                    {% ifswitch multi_book %}
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">{% if request.current_book %}{{ request.current_book }}{% else %}Books{% endif %}<span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            {% for book in request.books %}
                            <li><a href="#">{{ book.name }}</a></li>
                            {% endfor %}
                            <li role="separator" class="divider"></li>
                            <li><a href="/books/new/">New</a></li>
                        </ul>
                    </li>
                    {% endifswitch %}
                    <li class="dropdown hidden-xs hidden-sm">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Hello {% if user.first_name %}{{ user.first_name }}{% else %}{{ user.username }}{% endif %}!<span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            {% if not SANDSTORM %}
                            <li><a href="/u/">Settings</a></li>
                            <li><a href="/accounts/logout/">Logout</a></li>
                            <li><a href="{% url "create-invite" %}">Invite others</a></li>
                            {% endif %}
                            <li><a href="http://goo.gl/forms/npAgYliQM8" target="_blank">Give Feedback</a><li>
                            {% if user.is_staff %}
                            <li role="separator" class="divider"></li>
                            <li><a href="/admin/">Admin</a></li>
                            <li><a href="/nexus/gargoyle/">Switches</a></li>
                            {% endif %}
                        </ul>
                    </li>
                    {% if not SANDSTORM %}
                    <li class="visible-sm visible-xs"><a href="/u/">Settings</a></li>
                    <li class="visible-sm visible-xs"><a href="/logout/">Logout</a></li>
                    <li class="visible-sm visible-xs"><a href="{% url "create-invite" %}">Invite others</a></li>
                    {% endif %}
                    <li class="visible-sm visible-xs"><a href="http://goo.gl/forms/npAgYliQM8">Give Feedback</a><li>
                    <li role="separator" class="divider"></li>
                    {% if user.is_staff %}
                    <li class="visible-sm visible-xs"><a href="/admin/">Admin</a></li>
                    <li class="visible-sm visible-xs"><a href="/nexus/gargoyle/">Switches</a></li>
                    {% endif %}
                </ul>
                {% else %}
                <ul class="nav navbar-nav navbar-right">
                    <li><a href="/benefits">Benefits</a></li>
                </ul>
                {% endif %}
            </div>
        </div>
    </nav>
    {% block container %}
    <div class="container">
    {% ifswitch read_only_mode %}
    <div class="alert alert-warning">ContactOtter is currently in read-only mode while we perform some maintenance. All your data is still safe and accessible, but you cannot make edits at this time. </div>
    {% endifswitch %}
    {% if messages %}
        {% for message in messages %}
        <div{% if message.tags %} class="{{ message.tags }} alert alert-info"{% endif %}>{% if 'safe' in message.tags %}{{ message | safe }}{% else %}{{ message }}{% endif %}</div>
        {% endfor %}
    {% endif %}
    {% block content %}
    {% endblock %}
    </div>
    {% endblock %}
    <footer class="well">
        {% if user.is_authenticated and not SANDSTORM %}<a href="{% url "create-invite" %}">Invite others</a> |{% endif %} <a href="http://goo.gl/forms/npAgYliQM8" target="_blank">Give Feedback</a> | &copy; ContactOtter {% now "Y" %} | <a href="/policies">Policies</a> | <a href="/docs/">API</a>
    </footer>
    <script src="https://cdn.ravenjs.com/3.7.0/raven.min.js"></script>
    <script>Raven.config('{% sentry_public_dsn 'https' %}').install()</script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
    {% block js %}
    {% endblock %}
</body>

</html>