{% load staticfiles %}

<html>
    <head>
        <title>Logtacts</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
        <link rel="stylesheet" href="{% static "css/contacts.css" %}">
    </head>


<body>
    <nav class="navbar navbar-inverse navbar-static-top" role="navigation">
        <div class="navbar-header">
            <a class="navbar-brand" href="{% url "contacts-list" %}">LOGTACTS</a>
        </div>
        <form class="navbar-form navbar-left" method="get" action="{% url "search" %}" role="search">
            <div class="form-group">
                <input type="search" class="form-control" name="q" id="id_q">
            </div>
            <button type="submit" class="btn btn-default">Search</button>
        </form>
        <a href="{% url "contacts-new" %}" class="btn btn-default navbar-btn"><span class="glyphicon glyphicon-plus"></span></a>
    </nav>
    <div class="container">
    {% if messages %}
        {% for message in messages %}
        <div{% if message.tags %} class="{{ message.tags }} alert alert-info"{% endif %}>{% if 'safe' in message.tags %}{{ message | safe }}{% else %}{{ message }}{% endif %}</div>
        {% endfor %}
    {% endif %}
    {% block content %}
    {% endblock %}
    <footer>
        {% if user.is_authenticated %}<a href="{% url "create-invite" %}">Invite others</a> |{% endif %} <a href="http://goo.gl/forms/npAgYliQM8">Give Feedback</a>
    </footer>
    </div>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
</body>

</html>