{% extends "base.html" %}
{% block content %}
<div class="jumbotron">
<h1>Better contact management.</h1>
<p>ContactOtter is a work-in-progress for better contact management for small groups families, a friendly CRM. Right now, you can add contacts, log when you chat with them, and share your contact book with others</p>
<p>ContactOtter is alpha software, and currently comes with no warranty. You use it at your own risk.</p>
<p><a class="btn btn-success" href="/signup/">Signup</a> <a class="btn btn-info" href="{% url "login" %}">Login</a></p>
</div>
{% endblock %}