{% extends "base.html" %}

{% block content %}

<div class="row">
    <div class="col-md-4 col-md-offset-4">
    {% if plan.stripe_id == 'basic_monthly' %}
        <h3 class="text-center">Basic</h3>
        {% include "shared/basic_plan_features.html" %}
        <h4 class="text-center">$5/month</h4>
    {% elif plan.stripe_id == 'family_monthly' %}
        <h3 class="text-center">Family</h3>
        {% include "shared/family_plan_features.html" %}
        <h4 class="text-center">$10/month</h4>
    {% elif plan.stripe_id == 'team_monthly' %}
        <h3 class="text-center">Team</h3>
        {% include "shared/team_plan_features.html" %}
        <h4 class="text-center">$20/month</h4>
    {% endif %}
    </div>
    <div class="col-md-4 col-md-offset-4 text-center">
    <form action="{{ action }}" method="POST">
        {% csrf_token %}
        {% if form.non_field_errors %}
        <ul>
            {% for error in form.non_field_errors %}
            <li>{{ error }}</li>
            {% endfor %}
        </ul>
        {% endif %}
        {% if books|length > 1 %}
        <div id="id_books_container">
            <div class="form-group">
                <label for="id_books">Book:</label>
                <select class="form-control" id="id_books" name="books">
                    {% for book in books %}
                    <option value="{{ book.id }}" {% if book.id == selected_book.id %}selected="selected"{% endif %}>{{ book.name }}</option>
                    {% endfor %}
                </select>
            </div>
        </div>
        {% endif %}
        <script
            src="https://checkout.stripe.com/checkout.js" class="stripe-button"
            data-key="{{ stripe_public_key }}"
            data-amount="{{ plan.stripe_cost }}"
            data-name="Inkpebble, LLC"
            data-description="{{ plan.name }}"
            data-image="https://stripe.com/img/documentation/checkout/marketplace.png"
            data-locale="auto">
        </script>
    </form>
    </div>
</div>
{% endblock %}