{% extends "email/email_base.html" %}

{% block content %}
<h1>Howdy!</h1>

<p>You asked to be reminded about summing up your day's meetings in Contact Otter. We find it helpful to take a moment out of the day to log:</p>

<ul>
    <li>Meetings with people you know (How are they doing, anyway?)</li>
    <li>New people you meet (Did you remember to ask their favorite ice cream flavor?)</li>
    <li>Conversations or notes about the people in your life (Birthdays are always great to remember!)</li>
</ul>

<p><a href="https://www.contactotter.com">Contact Otter</a> is ready when you are to keep your network organized!</p>

<p>Cheers,</p>
<p>The Otters</p>
{% endblock %}