{% extends "base.html" %}

{% block content %}

{% if invitation.id %}
<h3>Edit Invite</h3>
{% else %}
<h3>Share your contact book with:</h3>
{% endif %}

<form action="{{ action }}" method="POST">
    {% csrf_token %}
    {% if form.non_field_errors %}
    <ul>
        {% for error in form.non_field_errors %}
        <li>{{ error }}</li>
        {% endfor %}
    </ul>
    {% endif %}
    <div class="form-group">
        <label class="sr-only" for="id_email">Email</label>
        <input id="id_email" class="form-control" maxlength="254" name="email" type="email" placeholder="Email"/>
        {{ form.email.errors }}
    </div>
    <input id="add_invite" class="btn btn-primary" type="submit" value="Send Invite">
</form>
{% endblock %}