{% extends "base.html" %}

{% block content %}

<h1>Change your password</h1>
<p>Logtacts is a work-in-progress for better contact management for families, a sort of family CRM. Right now, you can add contacts and log when you chat with them.</p>
<p>Logtacts is alpha software, currently comes with no warranty. Currently, you use it at your own risk.</p>
<form action="{{ action }}" method="POST">
    {% csrf_token %}
    {% if form.non_field_errors %}
    <ul>
        {% for error in form.non_field_errors %}
        <li>{{ error }}</li>
        {% endfor %}
    </ul>
    {% endif %}
    <ul class="list-group">
    {% for field in form %}
        <li id="{{ field.auto_id }}_container" class="list-group-item">
            {{ field.help_text }}
            <div>
                {{ field.label_tag }} {{ field }}
            </div>
            <div id="{{ field.auto_id }}_errors">
                {{ field.errors }}
            </div>
        </li>
    {% endfor %}
    </ul>
    <input id="add_invite" type="submit" value="Save">
</form>
{% endblock %}