{% extends "base.html" %}

{% block content %}

<h1>Change your password</h1>

<form action="{{ action }}" method="POST">
    {% csrf_token %}
    {% if form.non_field_errors %}
    <ul>
        {% for error in form.non_field_errors %}
        <li>{{ error }}</li>
        {% endfor %}
    </ul>
    {% endif %}
    <ul class="list-group">
    {% for field in form %}
        <li id="{{ field.auto_id }}_container" class="list-group-item">
            {{ field.help_text }}
            <div>
                {{ field.label_tag }} {{ field }}
            </div>
            <div id="{{ field.auto_id }}_errors">
                {{ field.errors }}
            </div>
        </li>
    {% endfor %}
    </ul>
    <input id="add_invite" type="submit" value="Save">
</form>
{% endblock %}